@font-face {
  font-family: "binggrae";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src:
    url("../assets/fonts/Binggrae.otf") format("opentype"),
    url("../assets/fonts/Binggrae.woff") format("woff"),
    url("../assets/fonts/Binggrae.woff2") format("woff2");
}
@font-face {
  font-family: "binggrae";
  font-style: normal;
  font-weight: bold;
  font-display: auto;
  src:
    url("../assets/fonts/Binggrae-Bold.otf") format("opentype"),
    url("../assets/fonts/Binggrae-Bold.woff") format("woff"),
    url("../assets/fonts/Binggrae-Bold.woff2") format("woff2");
}
*,
html {
  font-family: "binggrae", sans-serif;
}
body {
  font-family: "binggrae", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
